[Unit]
Description=Gunicorn instance to serve flask application
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/projets/python_api/
#Environment="PATH=/projets/python_api/flaskvenv/bin"
ExecStart=/usr/local/bin/gunicorn --config /projets/python_api/gunicorn_config.py app:app

[Install]
WantedBy=multi-user.target